body {
    background-color:grey;
    align-items: center;
}
#hero-img{
    width: 100%;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    padding: 50px;

}
.desk-img, .graphic-img, .person-img {
    border-radius: 50%;
    border-width: 50px;
    border-color: black;
    border-style: solid;
    width: 60%;

}