main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* convert desktop ^^ to optimize to mobile */
@media screen and max-width: 900px {
    main {
        grid-template-columns: 1fr;
    }
}




main {
    grid-template-columns: 1fr;
}

/* convert mobile ^^ to optimize to desktop */

@media screen and min-width: 900px {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}